<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner ">
              <div class="">
              <h3 class="masthead-brand">Gyantrips <sub style="font-size:12px;">"The Knowledge Fair"</sub></h3>
              <div class="navbar" id="navbar">
              <ul class="nav masthead-nav ">
                <li><a href="#venue">Venue</a></li>
                <li><a href="#schedule">Schedule</a></li>
                <li><a href="#events">Events</a></li>
                <li><a href="#" data-toggle="modal" data-target="#register">Register</a></li>
              </ul>
              </div>
               </div>
              <div class="ribon"><h5>Event Date : June 7th - 8th of 2014 </h5> </div>
            </div>
             
            
          </div>

          <div class="inner cover first">
            <h1 class="cover-heading">Gyantrips Knowledge Fair.</h1>
            <p class="lead" style="background-color:rgba(34, 44, 44, 0.7);">We care for what you deserve.</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-default" data-toggle="modal" data-target="#register">Register now</a>
            </p>
          </div>

         <div class="inner cover block">
         <div class="second" id="venue">
            <h1 class="pull-right">Venue</h1>
            <p class="lead">Here comes the Venue address</p>
            
          </div>
         </div>
    
        <div class="inner cover block">
         <div class="third" id="schedule">
            <h1 class="cover-heading">Schedule</h1>
            <p class="lead">Here comes the Schedule</p>
            
          </div>
         </div>
        <div class="inner cover block">
         <div class="fourth" id="events">
            <h1 class="cover-heading">Events</h1>
            <p class="lead">Here comes the Events</p>
            
          </div>
         </div>
         
         
         
            
          
         
         
	
         

          <div class="mastfoot">
            <div class="inner">
              <p>A Joint Effort Of  <a href="#">Pros Co Educational Society</a> & <a href="http://www.prajuctone.com">Prajuctone Pvt. Ltd.</a>.</p>
            </div>
          </div>

        </div>





      </div>

    </div>

<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header ">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Register Now</h4>
      </div>
      <div class="modal-body  ">
        <%= simple_form_for @contact, :html => {:class => 'form-inline' } do |f| %>
            <%= f.input :name, :required => true %>
            <br>
            <%= f.input :phone, :required => true %>
            <br>
            <%= f.input :email, :required => true %>
            
      </div>
      <div class="modal-footer">
        <%= f.button :submit, 'Register', :class=> "btn btn-success" %>
            <% end %>
      </div>
    </div>
  </div>
</div>


